 body {
     background-color: #f8f9fa;
 }

 .footer {
     background-color: #0d1117;
     color: white;
     padding: 20px 0;
 }

 .footer a {
     color: #fff;
     text-decoration: none;
 }

 .job-description ul {
     list-style: disc;
     margin-left: 20px;
 }