*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
header{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 15px 15px;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.collapse{
    display: flex;
    gap: 40px;
    align-items: baseline;
}
#select-by-name{
    padding: 4px 5px;
}
#search{
    padding: 4px 5px;
    border-radius: 5px;
}
.button{
    background-color: #ff5c35;
    border: none;
    border-radius: 7px;
    padding: 7px 10px;
    color: #fff;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.navbar-nav{
    list-style: none;
    display: flex;
    gap: 15px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 7px 8px;
    position: relative;
}
.box{
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 600px;
}
.hero{
    margin-bottom: 40px;
    margin-top: 20px;
}
.list-row{
    display: flex;
    gap: 10px;
}
.btn-del{
    background-color: #fff;
    padding: 6px 10px;
    border-radius: 7px;
    border: 1px solid #dc3545;
    color: #dc3545;
    transition: 0.3s all;
}
.btn-del:hover{
    background-color: #dc3545;
    border: 1px solid #dc3545;
    color: #fff;
}